#game{
width: 300px;
height:300px;
background: rgb(156, 91, 91);
margin: auto;
}
.block{
    width: 100px;
    height: 100px;
    float:left;
    border: 1px solid white;
    box-sizing: border-box;
    line-height: 100px;
    text-align:center;
    font-size: 90px;
    font-family:Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}